[submodule "Giraffe"]
	path = Giraffe
	url = https://github.com/unixpickle/Giraffe.git
[submodule "LXReorderableCollectionViewFlowLayout"]
	path = LXReorderableCollectionViewFlowLayout
	url = https://github.com/lxcid/LXReorderableCollectionViewFlowLayout.git
[submodule "iOS_AnimatedGif"]
	path = iOS_AnimatedGif
	url = https://github.com/scspijker/iOS_AnimatedGif.git
[submodule "ImgurAPI-for-iOS"]
	path = ImgurAPI-for-iOS
	url = https://github.com/oppai/ImgurAPI-for-iOS.git
